@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}
$black-gray: #2d2d2d;
.center-column{
  margin: 0 auto !important;
  float: none !important;
}

//nav
div.top-bar{


  height: 80px !important;
  background-color: $white;
  border-bottom: 1px solid $light-gray;
  ul{
    background: none;
  }
  .menu > li > a{
    font-weight: 200;
    letter-spacing: 2px;

    @include transition(all .3s);

    &:hover{
      color: $orange;
      @include transition(all .3s);
    }
  }
  .top-bar-left, .top-bar-right{
    padding-top: 2vh;
  }

}

.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}


    // on shrink nav
    .top-bar.shrink-nav{
      height: 60px !important;
    }


//services


//footer

.footer{
  background-color: $black-gray;
  height: 100px;
  .footer-links ul li a{
    letter-spacing: 1px;
    margin-top: 3vh;
    color: $white;
    @include transition(all .3s);
    &:hover{
      color: $orange;
      @include transition(all .3s);
    }
  }.footer-links p{
    color: $white;
    letter-spacing: 2px;
    font-weight: 200;
  }
}
